#chat {
    height: 200px;
    width: 400px;

    border: 1px solid black;

    margin-top: 10px;
    margin-bottom: 10px;
}

#chatItems {
    height: inherit;
    width: inherit;
    margin: 0px;
    padding: 0px;
    overflow: scroll;
}

.message {
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid rgb(201, 201, 201);
    word-break: break-word;
}